/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* banner */
/* .banner {
  max-height: 500px;
} */

.banner.row, .banner .row, .banner .col {
  margin: 0;
  padding: 0;
}
.banner img {
  object-fit: cover;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .banner.row {
    height: 500px;
  }
  .banner .row {
    height: 250px;
  }
  .banner-image-left {
    height: 500px;
  }
  .banner-image-right {
    height: 250px;
  }
}

@media screen and (max-width: 600px) {
  .banner-image-left {
    max-height: 360px;
  }
  .banner-left {
    max-height: 360px;
  }
  .banner .row {
    max-height: 230px;
  }
  .banner-image-right {
    max-height: 230px;
  }
}

/* Nav bar */
nav {
  background-color: rgba(0,0,0,0);
}
nav ul a,
nav .brand-logo {
  color: #004d40;
  font-weight: 500;
  letter-spacing: .1em;
}
nav ul a {
  font-size: 1.2em;
}

/* Mobile sidenav*/
.sidenav-trigger {
  /* color: #26a69a; */
  color: #004d40;
}

p {
  line-height: 2rem;
}

h4, h5 {
  color: #004d40;
}

.message {
  margin-top: 150px;
  margin-bottom: 80px;
}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}
#index-banner {
  min-height: 420px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

/* Google map */
.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

footer.page-footer {
  margin: 0;
}

/* Age verification modal */
.modal {
  top: 30% !important;
  max-width: 35em;
}

.modal-close.red-text {
  margin-right: 2px !important;
}

.social-icon {
  margin-top: 2px !important;
  margin-right: 5px !important;
}

.social-button {
  color: #004d40;
}
